.tog {
    width:250px;
    border: 0;
    border-radius: 50px;
    padding: 0.75rem 2.75rem;
    background: #4b71ff;
    color: #FFF;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &:hover {

    }
    &:focus {
        outline: none;
    }
}