h1, h2 {
    text-align: center;
}

.leaflet-container {
    width: 100%;
    height: 80vh;
}
@media only screen and (max-width: 420px) {
    .leaflet-container {
        width: 100%;
        height: 400px;
    }
}
path {
    stroke-width: 10;
}
.stop-baloon {
    text-align: center;
}
html {
    scroll-behavior: smooth;
  }